.main{
    position: absolute;
    top: 6em;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 30em;
    
}
#next{
    position: absolute;
    top: 45%;
    right:8%;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
#prew{
    position: absolute;
    top: 45%;
    left:8%;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    
}
img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    
}
 :hover#next,:hover#prew{
    background-color: grey;
    transform: scale(1.15);
    border-radius: 10px;
    transition: 500ms;
    color: white;
}
